/* border box stuff */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #747d7e;
    line-height: 1.7em;
}

* {
    font-family: 'Hind Siliguri', sans-serif;
}

.sitelogo {
    font-family: 'Fascinate Inline', cursive;
}


/* small adjustments needed in many places */
.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
}

.is-center {
    text-align: center;
}

.side {
    text-align: left;
}

.underline {
    text-decoration: underline;
}



.home-menu {
    padding: 0.5em;
    background: #712f52;
    text-align: center;
    box-shadow: 0 4px 3px rgba(0,0,0, 0.30);
}
.pure-menu.pure-menu-fixed {
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #c4c4c4;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #aecce5;
}



.footer {
    background: #111;
    position: fixed;
    width: 100%;
    bottom: -50px;
    padding: 1em;
    z-index: 3;
    transition: 0.4s;
    transition-timing-function: ease-in-out;
}

/* making the footer show its contents when hovered */
.footer:hover {
    bottom: 0;
}

/* replacing some pure css link styles that don't fit the footer */
.footer-link:hover {
    background: #111;
    color: #dedede;
}




.splash-container {
    background-color: #d6c81f;
    background-image: url(../img/Starry_Night_Over_the_Rhone.jpg);
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 70%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.content-wrapper {
    position: absolute;
    top: 10%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;
    padding-bottom: 6em;
}

/* making some height so the parallax effect works */
.content-wrapperplus {
    top: 70%;
}

/* css for the parallax effect  */
.splash {
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
}

.splash-title {
    font-size: 250%;
    color: white;
    font-weight: 100;
    font-weight: bold;
    line-height: 1em;
    text-transform: uppercase;
}

.splash-text {
    color: white;
    font-size: 20px;
    opacity: 0.8;
}
/* css for the parallax effect ends  */

/* css for the about page  */
.abouttext {
    color: #7b7b7b;
    padding-top: 5em;
    padding-bottom: 5em;
    padding-left: 3em;
    padding-right: 3em;
    border-bottom: 1px solid #afa9a9;
}

.abouttext_odd {
    background-color: #e6e6e6;
    color: #7b7979;
    padding-top: 5em;
    padding-bottom: 5em;
    padding-left: 3em;
    padding-right: 3em;
    border-bottom: 1px solid #afa9a9;
}

.aboutgrid {
    color: #7b7b7b;
    padding-top: 1em;
    padding-bottom: 2em;
    padding-left: 3em;
    padding-right: 3em;
    border-bottom: 1px solid #afa9a9;
}
/* css for the about page ends  */

.pure-form label {
    font-weight: bold;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    width: 100%;
    margin-bottom: 1em;
}

.postthumb {
    border: 1px transparent white;
    border-radius: 2px;
    box-shadow: 2px 2px 4px #717171;
    width: 100%;
}


.pure-button {
    background-color: #5dc2c6;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    box-shadow: 0 5px #717171;
    -webkit-box-shadow: 0 5px #717171;
    -moz-box-shadow: 0 5px #717171;
    transition: 0.1s;
    transition-timing-function: ease-in-out;
}

.pure-button:hover {
    background-color: #7d57d4;
    box-shadow: none;
}

.search {
    margin: 0.5em;
}

.sidemenu {
    position: fixed;
}

/* hiding the side menu on small screens */
@media screen and (max-width: 1080px) {
    .plshide {
        display: none;
    }
}

/* altering the padding for mobile devices */
@media screen and (max-width: 550px) {
    .abouttext {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .abouttext_odd {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .aboutgrid {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

/* just a class to make a max width for the documentation, nothing to see here  */
.maxpayne {
    max-width: 1000px;
    margin: auto;
}