* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #7d8788;
    line-height: 1.7em;
}

.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
}

.is-center {
    text-align: center;
}

.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 4px 3px rgba(0,0,0, 0.30);
}
.home-menu {
    background: #712f52;
}
.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #c4c4c4;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #e5b4ae;
}

.footer {
    background: #111;
    position: fixed;
    width: 100%;
    bottom: -40px;
    padding: 1em;
    z-index: 3;
    transition: 0.4s;
    transition-timing-function: ease-in-out;
}

.footer:hover {
    bottom: 0;
}


/* splash trash */
.splash-container {
    background: #d6c81f;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 70%;
    top: 0;
    left: 0;
    position: fixed !important;
}


.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 10%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;
    padding-bottom: 6em;
}

.content-wrapperplus {
    top: 70%;
}

.content-head {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 2em 0 1em;
}


.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 250%;
    color: white;
    font-weight: 100;
    font-weight: bold;
    line-height: 1em;
    text-transform: uppercase;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: white;
    font-size: 20px;
    opacity: 0.8;
}

.thumb {
    padding: 1em;
    border-right: 1px solid #afa9a9;
    border-bottom: 1px solid #afa9a9;
}

.buudeli {
    color: #7b7b7b;
    padding-top: 5em;
    padding-bottom: 5em;
}

.buudeli2 {
    background-color: #e6e6e6;
    color: #7b7979;
    padding-top: 5em;
    padding-bottom: 5em;
}

.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
}

.postthumb {
    border: 1px transparent white;
    border-radius: 2px;
    box-shadow: 2px 2px 4px #717171;
}

.pure-button {
    background-color: #5dc2c6;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    box-shadow: 0 5px #717171;
    -webkit-box-shadow: 0 5px #717171;
    -moz-box-shadow: 0 5px #717171;
    transition: 0.1s;
    transition-timing-function: ease-in-out;
}

.pure-button:hover {
    background-color: #7d57d4;
    box-shadow: none;
}

.custom-restricted-width {
    /* To limit the menu width to the content of the menu: */
    display: inline-block;
    /* Or set the width explicitly: */
    /* width: 10em; */
}

.underline {
    text-decoration: underline;
}